<p id="notice"><%= notice %></p>
<div class="property_show">
  <div class="property_show_info">
  <p>Name:<%= @rental.name %></p>
  <p>Rent:<%= @rental.rent %></p>
  <p>Address:<%= @rental.address %></p>
  <p>Age:<%= @rental.age %>years</p>
  <p>Feedback:<%= @rental.feedback %></p>

  <% @depots.each_with_index do |depot,i| %>
    <h3>Nearest stations <%= "#{(i)+1}" %></h3>
    <p>Route:<%= depot.route %></p>
    <p>Station:<%= depot.station %></p>
    <p>Time:<%= depot.walking_distance %>minutes</p>
  <% end %>
  <br>

  <%= link_to 'Edit', action: 'edit' %> |
  <%= link_to 'Back', action: 'index' %>
  </div>
</div>
